<% if resource.errors.any? || flash[:error].present? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% if flash[:error].present? %>
        <li><%= flash[:error] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
