/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'mixins/mq.scss';

body {
  margin: 0;
}

.content-wrapper {
  padding-top: 20px;
  @include is-tablet {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }

  @include is-pc {
    width: $tablet-width;
  }

  margin: auto;
}

.navbar-wrapper {
  width: 100vw;

  @include is-pc {
    padding-left: calc((100vw - #{$tablet-width})/2);
    padding-right: calc((100vw - #{$tablet-width})/2);
  }

  @include is-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sign-in-user-wrapper {
    color: white;
    font-size: 2em;
  }

  .dropdown-toggle {
    background: transparent;
    border: none;
    box-shadow: none;

    &:after {
      display: none;
    }
  }

  @include is-tablet {
    .navbar-dropdown {
      display: block;

      .dropdown-item {
        border: none;
        color: white;
        text-decoration: none;

        padding-top: 10px;
        padding-bottom: 10px;

        &:hover {
          background: #6c757d;
        }
      }

      .dropdown-menu {
        background: #343a40;

        border: none;
      }
    }

    .dropdown-toggle {
      width: 100%;
      &:focus, &:hover {
        border: none;
        background: transparent;
        box-shadow: none;
      }
    }
  }
}

.curation-card-deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 5px;
}

.curation-card {
  margin: 0px;
  margin-bottom: 30px;
}
